*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

html{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(17, 17, 17);
    color: rgb(237, 237, 237);
}

main{
    width: 100%;
}

main section{
    width: 100%;
    padding: 3rem;
    display: flex;
    gap: 1.5rem;
}

.btn{
    padding: 0.5rem 1.5rem;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    background-color: rgb(233, 233, 233);
    cursor: pointer;
    color: rgb(24, 24, 24);
}

#reset-btn{
    background-color: rgb(200, 50, 50);
    color: rgb(237, 237, 237);
}

#download-btn{
    background-color: rgb(30, 167, 30);
    color: rgb(237, 237, 237);
}

main section .top{
    display: flex;
    gap: 1rem;
    align-items: center;
}

main section .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 70%;
}

main section .right{
    width: 30%;
    background-color: rgb(34,34,34);
    padding: 1.5rem;
    border-radius: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

main section .bottom{
    background-color: red;
    width: 100%;
    padding: 3rem;
    aspect-ratio: 5/3; /*take same 1widtht&2height*/
    border-radius: 0.4rem;
    background-color: rgb(34,34,34);
    display: flex;
    align-items: center;
    justify-content: center;
}

main section .bottom .placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main section .bottom .placeholder i{
    font-size: 10rem;
    opacity: 0.6;
}

main section .bottom .placeholder p{
    font-size: 1.125rem;
    
}

main section .right .filter{
    width: 100%;
}

main section .right .filter input{
    width: 100%;
    outline: none;
    margin-top: 0.5rem;
    appearance: none;
}

main section .right .filter input::-webkit-slider-thumb{
    cursor: pointer;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    margin-top: -8.5px;
}

main section .right .filter input::-webkit-slider-runnable-track{
    background-color: rgb(233, 233, 233);
    height: 3px;
    border-radius: 2px;
}

main section .right .filters {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

canvas{
    max-width: 90%;
    max-height: 80vh;
    display: none;
}